@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-background-light text-text-light antialiased transition-colors duration-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .chart-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s ease-out forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  /* Keep inputs clean */
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
}
